*{
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
}
.giff{
    width: 70px;
    height: 70px;
}
.titulo{
    text-align: center;
}
.cuadrado{ 
    position: absolute;
    left: 35%;
    padding-top: 50px;
}
.datos{
    text-align: center;
    background-color: #10345e;
    width: 600px;           /* Ancho de 150 píxeles */
    height: 270px;   
    border-radius: 30px; 
    color: white;
    font-size: 27px;
    padding: 10px;
}
p{
    margin-top: 10px;
    margin-bottom: 5px;
}
h1{
    padding-top: 20px;
}