*{
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: block;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.giff{
    width: 70px;
    height: 70px;
}
.titulo{
    text-align: center;
}
.cuadrado{ 
    position: absolute;
    left: 35%;
    padding-top: 50px;
}
.datos{
    text-align: center;
    background-color: #10345e;
    width: 650px;           /* Ancho de 150 píxeles */
    height: 270px;   
    border-radius: 30px; 
    color: white;
    font-size: 27px;
    padding: 10px;
}
.igjor{
	color:white;
}
p{
    margin-top: 10px;
    margin-bottom: 5px;
}
h1{
    padding-top: 20px;
}

@media screen and (max-width: 768px) {
    .datos{
        margin: 10px;
        width: 350px;/* Ancho de 150 píxeles */
        font-size: 20px;
        height: fit-content;

    }
    .cuadrado {
        left: 3%;
        padding-top: 50px;
    }
    .giff{
        width: 50px;
        height: 50px;
    }
    h1{
    font-size: 20px;
    padding-top: 0;
  }

}