/*titulo biografia*/
*{
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
}
.titulo{
    text-align: center;
}
.bio{
  text-decoration: none !important;
}h1{
  text-decoration: underline;
  padding-top: 20px;
}
.estam{
    text-align: center;
}
.est{
    width: 20%;
}
.texto{
    text-align: center;
    font-size: 20px;
    
}
.textito{
    text-align: center;
    padding-bottom: 50px;
    align-items: center;
    margin: 0% 20%;
}
.fotos{
    font-size: 25px;
}
    @media screen and (max-width: 768px) { /*CELULARES*/
  h1{
    font-size: 20px;
    padding-top: 0;
  }
  .texto{
    font-size: 15px;
  }
  .fotos{
    font-size: 18px;
}
.textito{
    margin: 0% 10%;
}
.est{
    width: 80%;
}
}