*{
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
}
/*titulo biografia*/
.titulo{
    text-align: center;
}
.bio{
  text-decoration: none !important;

}
.giff{
    width: 70px;
    height: 70px;
}

/*biografia, textos e imagenes*/
.txiz img.imgbio{
    height: 10%;
    float: right;
    margin: 15px;
}
.txiz{
  margin: 0 30px;
}
.txdr img.imgbio{
    height: 10%;
    float: left;
    margin: 15px;
}
.txdr{
  margin: 0 30px;
}
p{
    font-size: 20px;
    margin: 15px;
}
h1{
  text-decoration: underline;
}

.im1{
  width: 10%;
}
.im2{
  width: 13%;
}
.im3{
  width: 17%;
}
.im4{
  width: 20%;
}
.im5{
  width: 8%;
}
.im6{
  width: 15%;
}
.im7{
  width: 18%;
}
.im8{
  width: 15%;
}