*{
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
}
.giff{
    width: 70px;
    height: 70px;
}
.bio{
  text-decoration: none !important;

}
.titulo{
    text-align: center;
}
.txiz img.imgbio{
    width: 7%;
    height: 10%;
    float: right;
    margin: 15px;
}
.txiz{
  margin: 0 30px;
}
.txdr img.imgbio{
    width: 7%;
    height: 10%;
    float: left;
    margin: 15px;
}
.txdr{
  margin: 0 30px;
}
p{
    font-size: 20px;
    margin: 15px;
}
h1{
  text-decoration: underline;

}

/*Galeria*/
section.galeria{
    background-color: #F2F4F4;
    padding: 0px 0 50px;
  }
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  .mySlides {
    display: none;
  }
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white !important;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  
  .numbertext {
    color: #BFA294;
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  