*{
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
}

.siervo{
  align-items: center;
  justify-content: center;
  text-align: center;
  display: block;
  margin-left: 500px;
  margin-right: 500px;
}

.siervo img{
  width: 700px;
  padding-bottom: 50px;
}

.container{
  margin: 2% 7%;
}
/*titulo biografia*/
.titulo{
    text-align: center;
}
.bio{
  text-decoration: none !important;

}
.giff{
    width: 70px;
    height: 70px;
}

/*biografia, textos e imagenes*/
.txiz img.imgbio{
    height: 10%;
    float: right;
    margin: 15px;
}
.txiz{
  display: inline-table;
  margin: 0 30px 0 80px;
}
.txdr img.imgbio{
    height: 10%;
    float: left;
    margin: 15px;
}
.txdr{
  display: inline-table;
  margin: 0 80px 0 30px;
}
p{
    font-size: 20px;
}
h1{
  text-decoration: underline;
  padding-top: 20px;
}

.im1{
  width: 10%;
}
.im2{
  width: 13%;
}
.im3{
  width: 17%;
}
.im4{
  width: 23%;
}
.im5{
  width: 8%;
}
.im6{
  width: 15%;
}
.im7{
  width: 18%;
}
.im8{
  width: 15%;
}
.footera{
  margin-right: 10px;
}

@media screen and (max-width: 768px) { /*CELULARES*/
  .giff{
    width: 50px;
    height: 50px;
  }

  .txiz {
    margin: 0;
  }
  .txdr {
    margin: 0;
  }
  p{
    font-size: 15px;
    margin-bottom: 55px;
  }
  h1{
    font-size: 20px;
    padding-top: 0;
  }
  .im1{
    width: 30%;
  }
  .im2{
    width: 40%;
  }
  .im3{
    width: 50%;
  }
  .im4{
    width: 50%;
  }
  .im5{
    width: 30%;
  }
  .im6{
    width: 40%;
  }
  .im7{
    width: 50%;
  }
  .im8{
    width: 45%;
  }

  .siervo{
  align-items: center;
  justify-content: center;
  text-align: center;
  display: block;
  margin-left: 20px;
  margin-right: 20px;
}

.siervo img{
  width: 400px;
}
}

@media screen and (min-width: 768px) and (max-width: 1366px) { /*NOTEBOOKS*/

}