*{
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
}
.giff{
    width: 70px;
    height: 70px;
}
.titulo{
    text-align: center;
}

.datos{
    text-align: center;
    width: 240px;           /* Ancho de 150 píxeles */
    height: 370px;   
    border-radius: 30px; 
    color: white;
    font-size: 30px;
    padding: 10px;
}
.colorv{
    background-color: #008b46;
}
.colora{
    background-color: #10345e;
}
img{
    width: 210px;
    height: 250px;
}
.container{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    margin-left: 20%;
}
.tipos{
    font-size: 30px;
}
a{
    text-decoration-color: white;
}
h1{
    padding-top: 20px;
}

@media screen and (max-width: 768px) {
    .datos{
        margin-bottom: 55px;
    }
    .container{
        margin-left: 30%;
        margin-bottom: 15px;
        display: block;
    }

    header ul{
        position: relative;
        display: block;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
        margin-top: 100px;
    }

    header ul li{
        margin-bottom: 15px;
    }

    .nav ul {
        flex-direction: column;
    }
    .giff{
        width: 50px;
        height: 50px;
    }
    header {
        height: 70px;
    }
    .logo-img {
        width: 50px;
        height: 50px;
        margin-right: 0;
    }
    header .logo {
        font-size: 30px;
    }
    footer section h6 {
        font-size: 8px;
    }
    .footera{
        margin: 0;
    }
}